<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DooGi. | 게시글</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="left-container">
            <div th:style="${'width:210px'}">
                <div class="date">
                    <div class="date-text">TODAY</div>
                    <div class="date-date" th:text="${#temporals.format(today, 'yy.MM.dd')}"></div>
                </div>
                <div>
                    <div class="profile-text">DooGi.</div>
                    <div th:style="${'height:210px'}">
                        <img th:style="${'height:210px; width:210px'}" th:src="@{/images/default.png}">
                    </div>
                    <div class="profile-name" th:text="${nickname}"></div>
                </div>
                <div class="navbar">
                    <div class="nav">
                        <img class="nav-img" th:src="@{/images/read.png}">
                        <a class="nav-a" th:href="@{/}">게시판 보기</a>
                    </div>
                    <div class="nav">
                        <img class="nav-img" th:src="@{/images/myread.png}">
                        <a class="nav-a" th:href="@{/mylist}">내 글 보기</a>
                    </div>
                    <div class="nav">
                        <img class="nav-img" th:src="@{/images/write.png}">
                        <a class="nav-a" th:href="@{/post}">새 글 작성</a>
                    </div>
                    <div class="nav">
                        <img class="nav-img" th:src="@{/images/profile.png}">
                        <a class="nav-a" th:href="@{/}">프로필 관리</a>
                    </div>
                </div>
                <div class="logout">
                    <a class="logout-a" th:href="${session.userId == null ? '/login' : '/logout'}"
                       th:text="${session.userId == null ? '로그인' : '로그아웃'}"></a>
                </div>
            </div>
        </div>
        <div class="content-container">
            <div class="right-container">
                <div th:style="${'width:746px'}">
                    <div class="header-center">
                        <h2>DooGi.</h2>
                    </div>
                    <div class="info-right">
                        <p>
                            <span class="detail-info-label">작성일</span>
                            <span class="detail-info-content" th:text="${#temporals.format(boardDto.createdAt, 'yy.MM.dd')}"></span>
                        </p>
                        <p>
                            <span class="detail-info-label">작성자</span>
                            <span class="detail-info-content" th:text="${boardDto.nickname}"></span>
                        </p>
                    </div>
                    <div class="title" th:text="${boardDto.title}"></div>
                    <div class="content" th:text="${boardDto.content}"></div>
                    <div class="info-between">
                        <div>
                            <a class="edit-btn" th:style="'background-color: #7BAEBA;'" th:href="@{'/post/edit/' + ${boardDto.id}}" th:if="${session.userId eq boardDto.userId}">수정</a>
                            <form th:if="${session.userId eq boardDto.userId}" id="delete-form" th:action="@{'/post/' + ${boardDto.id}}" method="post" style="display: inline;">
                                <input type="hidden" name="_method" value="delete"/>
                                <button class="edit-btn" th:style="'background-color: #B68282;'" id="delete-btn">삭제</button>
                            </form>
                        </div>
                        <div>
                            <a class="edit-btn" th:style="'background-color: #76C5D7;'" th:href="@{/}">목록 보기</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="stickers">
                <div class="sticker"></div>
                <div class="sticker"></div>
                <div class="sticker"></div>
            </div>
        </div>
    </div>
</body>
</html>