<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DooGi. | 회원가입</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>DooGi.</h1>
        <form action="/signup" method="post">
            <div class="login-form">
                <label class="login-label" for="username">Username</label>
                <input class="login-input" type="text" id="username" name="username" th:value="${userDto.username}" placeholder="아이디 입력 (6~20자)" required>
            </div>
            <div class="login-form">
                <label class="login-label" for="password">Password</label>
                <input class="login-input" type="password" id="password" name="password" th:value="${userDto.password}" placeholder="비밀번호 입력 (8~20자)" required>
            </div>
            <div class="login-form">
                <label class="login-label" for="username">Nickname</label>
                <input class="login-input" type="text" id="nickname" name="nickname" th:value="${userDto.nickname}" placeholder="닉네임 입력 (2~8자)" required>
            </div>
            <div>
                <input class="login-button" type="submit" value="Signup">
            </div>
        </form>
        <div>
            <span class="login-span">이미 계정이 있나요?</span>
            <a class="login-a" th:href="@{/login}">로그인하기</a>
        </div>
    </div>
</body>
</html>